/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1200px;
  
} */
/* @import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Teko', sans-serif;
} */